/*Форма брони*/
.form_reserve_contact{
    background-color: rgba(63, 91, 130, 0.6);
    position: fixed;
    z-index: 311;
    width: 100%;
    left: 0;
    /*transform: scale(0);*/
    /*pointer-events: none;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    pointer-events: all;
}

.formOneHeader{
    /*margin-top: 213px;*/
    width: 85%;
    /*margin-left: 15%;*/
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    /*background-color: blue;*/
    overflow: hidden;
}
.formTwoHeader{
    /*margin-top: 213px;*/
    width: 85%;
    /*margin-left: 15%;*/
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    /*background-color: blue;*/
    overflow: hidden;
}
.formThreeHeader{
    /*margin-top: 213px;*/
    width: 85%;
    /*margin-left: 15%;*/
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    /*background-color: blue;*/
    overflow: hidden;
}

/*.title_form_contact{*/
/*    !*margin-top: 213px;*!*/
/*    width: 85%;*/
/*    !*margin-left: 15%;*!*/
/*    display: flex;*/
/*    height: auto;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    !*background-color: blue;*!*/
/*    overflow: hidden;*/
/*}*/
.title_one_form_contact{
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
}
.title_second_form_contact{
    color: black;
    margin-top: -7px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.main_block_form_contact{
    margin-top: 25px;
    width: 90%;
    height: 40%;
    /*margin-left: 15%;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: stretch;
    /*background-color: blueviolet;*/
}
.label_contact{
    color: #403f3d;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.element_form_contact{
    width: 90%;
    height: 10vh;
    max-height: 120px;
    /*margin-top: 5px;*/
    display: flex;
    /*min-height: 80px;*/
    flex-direction: column;
    overflow: hidden;
    min-height: 100px;
}
.error_text_contact{
    font-family: 'Roboto', sans-serif;
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
    font-weight: bold;
    font-size: 0.9em;
}
.text_line_contact{
    color: black;
    margin-top: 5px;
    width: 85%;
    height: 3.5vh;
    min-height: 45px;
    max-height: 55px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.time_input_pool{
    color: black;
    margin-top: 5px;
    width: 85%;
    height: 3.5vh;
    border-radius: 30px;
    min-height: 45px;
    max-height: 55px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.time{
    height: 8vh;
    min-height: 80px;
    width: 85%;
    /*margin-left: 15%;*/
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.maskElemForm{
    width: auto;
    height:auto;
}

.time_input{
    max-height: 60px;
    height: 80%;
    min-height: 45px;
    width: 93%;
    /*margin-top: 5px;*/
    border-radius: 30px;
    color: #403f3d;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
.buttonOne{
    position: absolute;
    /* background-color: rgb(206, 189, 160); */
    background-color: #cebda0;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    left: 65%;
    top: 80%;
    color: white;
    min-width: 220px;
    min-height: 220px;
    max-width: 270px;
    max-height: 270px;
    cursor: pointer;
}
.buttonTwo{
    position: absolute;
    /* background-color: rgb(206, 189, 160); */
    background-color: #cebda0;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    left: 65%;
    top: 80%;
    color: white;
    min-width: 220px;
    min-height: 220px;
    max-width: 270px;
    max-height: 270px;
    cursor: pointer;
}
.buttonThree{
    position: absolute;
    /* background-color: rgb(206, 189, 160); */
    background-color: #cebda0;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    left: 65%;
    top: 80%;
    color: white;
    min-width: 220px;
    min-height: 220px;
    max-width: 270px;
    max-height: 270px;
    cursor: pointer;
}
input{
    padding-left: 30px;
}


.buttonOne:hover{
    width: 215px;
    height: 215px;
}
.buttonTwo:hover{
    width: 215px;
    height: 215px;
}
.buttonThree:hover{
    width: 215px;
    height: 215px;
}

.form1{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form2{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form3{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.but_order{
    margin-top: 40%;
    color: white;
    /* background-color: rgb(206, 189, 160); */
    background-color: #cebda0;
    border-style: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
}






