.page-wrap {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.headerMenu{
    position: fixed;
    /* background-color: rgb(63, 91, 130); */
    background-color: #102e58;
    width: 100%;
    height: 140px;
    z-index: 211;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    top: 0;
    overflow: hidden;
}
html{
    overflow-x: hidden;
}
.logotype{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 220px;
    height: 100px;
    text-align: center;
    left: 5%;
    transform: scale(1);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.inside_block_logotype_picture{
    width: 100%;
    height: 80%;
}

.img_footer{
    height: 100%;
    width: 100%;
}


.lineOne{
    position: relative;
    /*top: 21%;*/
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    font-size: 0.8em;
    margin-left: 4vw;
		text-transform: uppercase;
}

.main_style{
    margin-left: 40px;
    height: 30px;
    width: 100%;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.bolder_elem{
    margin-left: 40px;
    height: 30px;
    width: 100%;
    /* color: rgb(206, 189, 160) !important; */
    color: #cebda0 !important;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.menu{
    position: absolute;
    display: flex;
    justify-content: left;
    flex-direction: row;
    left: 250px;
    width: 60%;
    height: 50px;
    align-items: center;
    /*background-color: yellow;*/
}

/*кнопки корзины и прочего*/
.block_with_buttons{
    position: absolute;
    width: 200px;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated_basket{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.mobile_buttons{
    right: 50px;
    position: absolute;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.basket{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger_img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.busket_img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1455px) {
    .lineOne{
        display: none;
    }
    .animated_basket{
        display: none;
    }
    .activePool{
        margin-top: 100px!important;
    }
    .headerMenu{
        position: fixed;
    }
}
@media (min-width: 1455px) {
    .mobile_buttons{
        display: none;
    }
}


/*окно с меню*/
.burger_window{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 411;
    /* background-color: rgb(63, 91, 130); */
    background-color: #102e58;
    overflow: auto;
    -ms-overflow-style: none;
    white-space: nowrap;
}
.elem::-webkit-scrollbar {
    width: 0;
    height: 0;
}


/*.burger_window.active{*/
/*    transform: scale(1);*/
/*    pointer-events: all;*/
/*}*/
.activePool{
    width: 90%;
    margin-left: 5%;
    height: 90%;
    min-height: 600px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_burger{
    width: 100%;
    height: 100%;
}
.line_burger{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		text-transform: uppercase;
}
.burger_style {
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: white;
}
.first_element_burger{
    margin-top: 5%;
    height: 40%;
}

.second_element_burger{
    margin-top: 5%;
    height: 15%;
    max-height: 200px;
}

.main_burger_two{
    width: 100%;
    height: 100%;
}

.line_burger_two{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger_style_two{
    height: 50px;
    width: 100%;
    text-decoration: none;
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
}

.number_points{
    width: 90%;
    height: 15%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.phone_number{
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.points{
    margin-top: 10px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.points div{
    width: 25px;
    height: 25px;
    /* background-color: rgb(206, 189, 160); */
    background-color: #cebda0;
    border-radius: 50%;
}

.close{
    /* background-color: rgb(63, 91, 130); */
    background-color: #102e58;
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
    border-style: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.button_close{
    font-family: 'RobotLight', sans-serif;
    left: 5%;
    display: flex;
    justify-content: right;
    position: absolute;
    width: 90%;
    height: 50px;
    top: 4%;
    transform: scale(1);
}
.img_close{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_close_inside{
    width: 100%;
    height: 100%;
}




.circular {
    position: absolute;
    width: 170px;
    height: 170px;
    top: -37px;
    left: 50px;
    cursor: pointer;
}
.circular svg {
    display: block;
    overflow: visible;
    font-family: 'Roboto', sans-serif;
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
}
.circular path { fill: none; }

.circular textPath{
    font-size: 0.4em;
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
    font-weight: bold;
    letter-spacing: 0.8px;
}
.img_busket_anim{
    left: 55%;
    top: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30%;
		z-index: 10;
}
.img_basket{
    width: 100%;
    height: 100%;
}

.counter_busket{
    left: 75%;
    position: absolute;
    top: 24%;
    width: 1em;
    height: 1em;
}

.count_in_busket{
    font-family: 'Roboto', sans-serif;
    /* color: rgb(206, 189, 160); */
    color: #cebda0;
    font-size: 0.7em;
    font-weight: bold;
}
